.container {
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
  height: 50vh;
  padding: 2rem;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  /* Desktop Version */
  @media screen and (min-width: 768px) {
    width: 60%;
  }
}
