@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Poppins:wght@900&display=swap');
@import '../assets/styles/design';

.navbar {
  height: 100vh;
  background-color: #fff;
  transition: 0.5s;
  box-shadow: 0 0 10px rgb(0 0 0 / 20%);
  overflow: hidden;
}

.navbar,
.navData .link.active {
  color: inherit;
  text-decoration: none;
}

.logo {
  width: 8rem;
  margin-bottom: -20px;
}

.logo-name {
  font-family: 'Homemade Apple', cursive;
  font-size: 1.75rem;
  color: #111;
  font-weight: 900;
}

.links-container {
  margin-top: 3rem;
}

.navbar ul {
  list-style-type: none;
  margin: 0 auto;
}

.navbar ul li {
  margin: 1rem 0;
}

.navbar ul li a {
  display: inline-block;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
  padding: 8px;
  width: 100%;
}

.link {
  margin-left: 0.7rem;
}

.link:hover {
  color: #617c00;
  background-color: #dddddc;
}

.active {
  background-color: #97bf0e;
  color: #fff !important;
}

.active:hover {
  background-color: #97bf0e;
  color: #fff !important;
}

.copyright {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
}

.logoutBtn {
  border-radius: 0.25rem;
  padding: 0.35rem 0.5rem;
  font-weight: 400;
  margin-left: 0.7rem;
  font-size: 1rem;
  color: red;
  border: 2px solid red;
  background: none;
  cursor: pointer;
}

.logoutBtn:hover {
  color: $white;
  border: 2px solid red;
  background-color: red;
  transition: all 150ms ease-in-out;
}

.popup {
  display: block;
  position: absolute;
  top: 3%;
  left: 50%;
  background-color: lightblue;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 999;
}

.link1:hover {
  background-color: rgb(29, 241, 29);
}

@media (max-width: 768px) {
  .navbar {
    display: none;
  }
}
